<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-back-button defaultHref="/exercises"></ion-back-button>
        </ion-buttons>
        <ion-title>Exercise</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="refresh()"  [disabled]="(requestInProgress$ | async)">
                <ion-icon name="refresh"></ion-icon><span class="ion-hide-sm-down">Refresh</span>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-card *ngIf="event$ | async as event">
        <ion-card-header>
            <ion-card-title class="name">{{event.name}}</ion-card-title>
            <ion-card-subtitle class="videoURL">{{event.thumbnail}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <ion-row>
                <ion-col size="12" size-lg="6">
                    <ng-container *ngIf="event.youtubeID && event.youtubeID !== '' else noVideoURL">
                        <app-youtube-player [videoID]="event.youtubeID" width="100"></app-youtube-player>
                    </ng-container>
                    <ng-template #noVideoURL>
                        <ion-note>No video URL ⚠️</ion-note>
                    </ng-template>
                </ion-col>
                <ion-col size="12" size-lg="6">
                    <ion-label>Description</ion-label>
                    <ion-row class="instructions-container">
                        <br>
                        <ion-textarea class="instructions">{{event.instructions}}</ion-textarea>
                    </ion-row>
                </ion-col>
            </ion-row>

            <ng-container *ngIf="isAdmin$ | async">
                <ion-button color="primary" (click)="showEditModal()">Edit</ion-button>
                <ion-button color="danger" (click)="showActionSheetToDelete()">Delete</ion-button>
            </ng-container>


        </ion-card-content>
    </ion-card>
</ion-content>
