<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Events</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="refresh()" [disabled]="(requestInProgress$ | async)">
                <ion-icon name="refresh"></ion-icon><span class="ion-hide-sm-down">Refresh</span>
            </ion-button>
            <ion-button (click)="presentModal()"
                        id="create-event"
                        slot="end">
                <ion-icon name="add"></ion-icon><span class="ion-hide-sm-down">New</span>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-text-center" *ngIf="(requestInProgress$ | async)">
        <ion-spinner></ion-spinner>
    </div>

	<entity-list-refresher [entityService]="eventService"></entity-list-refresher>

	<atma-event-list></atma-event-list>
</ion-content>
