<ion-card tilt>
    <ng-container *ngIf="event.thumbnail else noVideoURL">
        <img [src]="event.thumbnail"/>
    </ng-container>
    <ng-template #noVideoURL>
        <ion-note>No thumbnail ⚠️</ion-note>
    </ng-template>
    <ion-card-header>
        <ion-card-title class="name" [innerHtml]="event.name | highlight: highlights"></ion-card-title>
        <div class="ion-text-center" *ngIf="!event.description || (event.description && event.description.length === 0)">
            <ion-note>No instructions ⚠️</ion-note>
        </div>
        <ion-card-subtitle>{{notes}}</ion-card-subtitle>
    </ion-card-header>
</ion-card>
