<ion-content>
    <ion-header #header>
        <ion-toolbar class="ion-text-center">
            <h1 class="header">Ātma Church</h1>
        </ion-toolbar>
    </ion-header>

    <ion-grid id="leaders">
        <ion-row class="ion-text-center">
            <ion-col sizeMd="4" sizeSm="12" sizeXs="12">
                <img class="logo" src="/assets/icon/logo.jpg">
            </ion-col>
            <ion-col sizeMd="4" sizeSm="12" sizeXs="12">
                <img src="/assets/img/whitney2.png">
                <h2>Whitney</h2>
            </ion-col>
            <ion-col sizeMd="4" sizeSm="12" sizeXs="12">
                <img src="/assets/img/tati2.png">
                <h2>Tatiana</h2>
            </ion-col>
        </ion-row>
    </ion-grid>

    <section id="events" #events>
        <h1>Events</h1>
        <ion-col [hidden]="(isAuthenticated$ | async) === true">
            <h3>Sign up to stay in the loop with our upcoming events!</h3>
            <join-form (formSubmit)="onSubmit($event)"></join-form>
        </ion-col>

        <ion-col [hidden]="(isAuthenticated$ | async) === false">
            <h3>Hi {{name}}, check out the events we got going on</h3>
			<a class="logout-btn" (click)="logout()">Click here to log out</a>
        </ion-col>

        <ion-row>
            <ion-col sizeLg="4" sizeMd="12" sizeSm="12" sizeXs="12" *ngFor="let e of atmaEvents; let i = index;">
                <ion-card-header>
                    <ion-card-title>{{e.title}}</ion-card-title>
                    <ion-card-subtitle>{{e.subtitle}}</ion-card-subtitle>
                </ion-card-header>

                <ion-card-content>
                    <div class="date">
                        <span class="binds"></span>
                        <span class="month">{{e.month}}</span>
                        <h1 class="day">{{e.day}}</h1>
                    </div>
                    <ion-img [src]="'assets/img/events/' + (i+1) + '.jpg'" class="event-thumb"></ion-img>
                    <p>{{e.preview}}</p>
                    <ion-button [id]="'event-' + i + '-button'">Read More</ion-button>
                    <ion-modal [trigger]="'event-' + i + '-button'" [swipeToClose]="true">
                        <ng-template>
                            <ion-content>
                                <h1>{{e.title}}</h1>
                                <p class="description">{{e.description}}</p>
                                <ion-button expand="full" (click)="closeModal()">Close</ion-button>
                            </ion-content>
                        </ng-template>
                    </ion-modal>
                </ion-card-content>
            </ion-col>
        </ion-row>
		<ion-col [hidden]="(isAuthenticated$ | async) === true">
            <h3>Sign up to stay in the loop with our upcoming events!</h3>
            <join-form (formSubmit)="onSubmit($event)"></join-form>
        </ion-col>
        <ion-row>
            <p class="footer">© ĀTM 2022 | All Right Reserved | Developed & Powered by Chris Moscoso
                <!-- <a href="http://chrismoscoso.com"> Chris Moscoso</a> -->
            </p>
        </ion-row>
    </section>
</ion-content>
