/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/** Material design theme */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/** Google Fonts **/
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


html {
    scroll-behavior: smooth;
}

/** Global Form scss */
ion-title {
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    line-height: 30px;
}

.ion-page>ion-content {
    --background: url(/assets/img/hex-bg.webp);
}

.modal-80-width {
    --min-width: 80%;
}

.modal-full {
    --min-width: 100%;
    --min-height: 100%;
}

.modal-short-height {
    @media screen and (min-width: 769px) {
        --height: 350px;
    }
}

.modal-short-form {
    --backdrop-opacity: 0.5;

    @media screen and (min-width: 769px) {
        --height: 275px;
    }
}

form {
    width: 100%;
}

mat-form-field {
    width: 100%;
    margin-bottom: 25px;
}

mat-form-field mat-icon-button {
    background: none;
}

mat-label {
    font-size: 16px;
}

mat-hint,
mat-error {
    font-size: 14px;
}

ion-card,
mat-radio-group {
    margin: 0 auto;
}

ion-button[type=submit] {
    margin-top: 25px;
}

*::-webkit-scrollbar {
    width: .5em;
    height: .5em;
}

*::-webkit-scrollbar-track {
    background: var(--ion-color-primary-contrast);
}

*::-webkit-scrollbar-thumb {
    background: var(--ion-color-primary);
}

h1.atma-title {
    font-size: 40px;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

h2.atma-title {
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

img.rounded-8 {
    border-radius: 8%;
	border: white 2px solid;
    box-shadow: 0px 0px 24px 8px #fff;
}

.rgb {
    transform-style: preserve-3d;
}

.rgb::after {
    content: "";
    background: linear-gradient(45deg,
            #ff0000 0%,
            #ff9a00 10%,
            #d0de21 20%,
            #4fdc4a 30%,
            #3fdad8 40%,
            #2fc9e2 50%,
            #1c7fee 60%,
            #5f15f2 70%,
            #ba0cf8 80%,
            #fb07d9 90%,
            #ff0000 100%) repeat 0% 0% / 300% 100%;
    position: absolute;
    inset: -3px;
    border-radius: 16px;
    filter: blur(8px);
    transform: translateZ(-1px);
    /*or z-index */
    animation: rgb 6s linear infinite;
}

@keyframes rgb {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}